.Discount-List {
  border-radius: 8px;
  border: 1px solid rgb(230, 230, 230);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover !important;
  height: 576px;
  &.bg {
    &-0 {
      background: url("https://res.cloudinary.com/dgeblvtrm/image/upload/v1659810143/DQ%20Store/Discount/pchoctap_p7ess9.png");
    }
    &-1 {
      background: url("https://res.cloudinary.com/dgeblvtrm/image/upload/v1659810144/DQ%20Store/Discount/pcgaming_i6ofls.png");
    }
    &-2 {
      background: url("https://res.cloudinary.com/dgeblvtrm/image/upload/v1659810142/DQ%20Store/Discount/phukien_lxm3wq.png");
    }
    &-3 {
      background: url("https://res.cloudinary.com/dgeblvtrm/image/upload/v1659810142/DQ%20Store/Discount/giadung_zbihuj.png");
    }
    &-4 {
      background: url("https://res.cloudinary.com/dgeblvtrm/image/upload/v1659810143/DQ%20Store/Discount/vanphong_tvc8pk.jpg");
    }
  }
  .header {
    height: 64px;
    &-item {
      & > * {
        color: grey;
      }
      &.active {
        background-color: transparent;
        & > * {
          color: #f1f1f1;
        }
      }
    }
  }

  .Related-Products {
    background-color: transparent;
  }
}

@media only screen and (max-width: 768px) {
  .Discount-List {
    .header {
      display: none;
    }
    .countdown {
      display: none;
    }
  }
}
